<header class="app-header navbar">

  <!--brand start-->
  <div class="navbar-brand">
      <a class="" href="index.html">
          <img src="assets/img/logo-dark.png" srcset="assets/img/logo-dark@2x.png 2x" alt="">
      </a>
  </div>
  <!--brand end-->

  <!--left side nav toggle start-->
  <ul class="nav navbar-nav mr-auto">
      <li class="nav-item d-lg-none">
          <button class="navbar-toggler mobile-leftside-toggler" type="button"><i class="ti-align-right"></i></button>
      </li>
      
  </ul>
  <!--left side nav toggle end-->

  <!--right side nav start-->
  <ul class="nav navbar-nav ml-auto">


      <li class="nav-item dropdown dropdown-slide">
          <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="ti-alarm-clock"></i>
              <span class="badge badge-danger notification-alarm"> </span>
          </a>
          <div class="dropdown-menu dropdown-menu-right">

              <div class="dropdown-header pb-3">
                  <strong>You have 6 Notifications</strong>
              </div>

              <a href="#" class="dropdown-item">
                  <i class="icon-basket-loaded text-primary"></i> New order
              </a>
              <a href="#" class="dropdown-item">
                  <i class="icon-user-follow text-success"></i> New registered member
              </a>
              <a href="#" class="dropdown-item">
                  <i class=" icon-layers text-danger"></i> Server error report
              </a>
              <a href="#" class="dropdown-item">
                  <i class=" icon-note text-warning"></i> Database report
              </a>

              <a href="#" class="dropdown-item">
                  <i class=" icon-present text-info"></i> Order confirmation
              </a>

          </div>
      </li>

<li class="nav-item dropdown dropdown-slide">
          <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="ti-star"></i>
              <span class="badge badge-danger notification-alarm"> </span>
          </a>
          <div class="dropdown-menu dropdown-menu-right">

              <div class="dropdown-header pb-3">
                  <strong>You have 6 Notifications</strong>
              </div>

              <a href="#" class="dropdown-item">
                  <i class="icon-basket-loaded text-primary"></i> New order
              </a>
              <a href="#" class="dropdown-item">
                  <i class="icon-user-follow text-success"></i> New registered member
              </a>
              <a href="#" class="dropdown-item">
                  <i class=" icon-layers text-danger"></i> Server error report
              </a>
              <a href="#" class="dropdown-item">
                  <i class=" icon-note text-warning"></i> Database report
              </a>

              <a href="#" class="dropdown-item">
                  <i class=" icon-present text-info"></i> Order confirmation
              </a>

          </div>
      </li>

<li class="nav-item dropdown dropdown-slide">
          <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="ti-bell"></i>
              <span class="badge badge-danger notification-alarm"> </span>
          </a>
          <div class="dropdown-menu dropdown-menu-right">

              <div class="dropdown-header pb-3">
                  <strong>You have 6 Notifications</strong>
              </div>

              <a href="#" class="dropdown-item">
                  <i class="icon-basket-loaded text-primary"></i> New order
              </a>
              <a href="#" class="dropdown-item">
                  <i class="icon-user-follow text-success"></i> New registered member
              </a>
              <a href="#" class="dropdown-item">
                  <i class=" icon-layers text-danger"></i> Server error report
              </a>
              <a href="#" class="dropdown-item">
                  <i class=" icon-note text-warning"></i> Database report
              </a>

              <a href="#" class="dropdown-item">
                  <i class=" icon-present text-info"></i> Order confirmation
              </a>

          </div>
      </li>
      

      <li class="nav-item dropdown dropdown-slide">
          <a class="nav-link nav-pill user-avatar" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              <img src="assets/img/user.png" alt="John Doe">
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-accout">
              <div class="dropdown-header pb-3">
                  <div class="media d-user">
                      <img class="align-self-center mr-3" src="assets/img/user.png" alt="John Doe">
                      <div class="media-body">
                          <h5 class="mt-0 mb-0">John Doe</h5>
                          <span>john@gmail.com</span>
                      </div>
                  </div>
              </div>

              <a class="dropdown-item" href="#"><i class=" ti-reload"></i> Activity</a>
              <a class="dropdown-item" href="#"><i class=" ti-email"></i> Message</a>
              <a class="dropdown-item" href="#"><i class=" ti-user"></i> Profile</a>
              <a class="dropdown-item" href="#"><i class=" ti-layers-alt"></i> Projects <span class="badge badge-primary">4</span> </a>

              <div class="dropdown-divider"></div>

              <a class="dropdown-item" href="#"><i class=" ti-lock"></i> Lock Account</a>
              <a class="dropdown-item" href="#"><i class=" ti-unlock"></i> Logout</a>
          </div>
      </li>

     
      
  </ul>
</header>