<main class="main-content"  *ngIf="check">
  <!--page title start-->
  <div class="page-title">
     <div class="container-fluid p-0">
        <div class="row">
           <div class="col-md-12">
               <div class="row">
                   <div class="col-md-6 col-9">
                       
                       <h4 class="mb-0">List of Contract</h4> 
                   </div>
                   <div class="col-md-6 col-3">
                        <div class="dropdown float-right">
                        <button type="button" class="btn btn-default custom-dropdown dropdown-toggle" data-toggle="dropdown">
                         <i class="fa fa-ellipsis-h pull-right color-blue"></i>
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="">Link 1</a>
                          <a class="dropdown-item" href="">Link 2</a>
                          <a class="dropdown-item" href="">Link 3</a>
                        </div>
                      </div>
                  </div>
               </div>
           </div>
        </div>
     </div>
  </div>
  <!--page title end-->
  <div class="container-fluid list-of-contract" *ngFor="let contract of con">
     <div class="bg-white form-group-margin">
      <div class="pb-45 pt-45 pl-28 pr-28">
        <div class="row">
          <div class="col-sm-2"><img src="assets/img/list-crowd.png"/></div>
          <div class="col-sm-7"><p>{{contract.contractname}}<br/><span>Created on {{contract.startdate}}</span></p></div>
          <div class="col-sm-3">
            <ul class="launch-div">
              <li><a class="button" (click)="displayContract(contract);">Launch</a></li>
              <li>
                <div class="dropdown float-right">
                  <button type="button" class="btn btn-default custom-dropdown dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-ellipsis-h pull-right color-blue"></i>
                  </button>
                  <div class="dropdown-menu">
                  <a class="dropdown-item" >Link 1</a>
                  <a class="dropdown-item" >Link 2</a>
                  <a class="dropdown-item" >Link 3</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div> 
    </div>
  </div>
</main>
<app-contract *ngIf="!check"
  [contract] = "contract"
></app-contract>