<main class="main-content">
    <div class="page-title">
      <div class="container-fluid p-0">
          <div class="row">
            <div class="col-md-12">
              <!-- display here. loop -->
                <div class="row">
                    <div class="col-md-6 col-9">
                        
                        <h4 class="mb-0">Contract: {{contract.contractname}}</h4> 
                    </div>
                    <div class="col-md-6 col-3">
                          <div class="dropdown float-right">
                          <button type="button" class="btn btn-default custom-dropdown dropdown-toggle" data-toggle="dropdown">
                          <i class="fa fa-ellipsis-h pull-right color-blue"></i>
                          </button>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Link 1</a>
                            <a class="dropdown-item" href="#">Link 2</a>
                            <a class="dropdown-item" href="#">Link 3</a>
                          </div>
                        </div>
                    </div>
                </div>
              <!-- loop end -->
            </div>
          </div>
      </div>
    </div>
    <div class="container-fluid contract">
      <div class="row">

        <div class="col-sm-6">
          <div class="bg-white form-group-margin" style="display:table;">
            <div class=" pb-45 pt-45 pl-28 pr-28">
              <ul class="bordered-detail-text">
                <li><span>Token Name</span><span>{{contract.tokenname}}</span></li>
                <li><span>Token Type</span><span>{{contract.tokentype}}</span></li>
                <li><span>Crowd Type</span><span>{{contract.tokensymbol}}</span></li>
                <li><span>Token Rate</span><span>{{contract.tokenrate}}</span></li>
                <li><span>Hard Cap Tokens</span><span>{{contract.hardcaptokens}}</span></li>
                <li><span>Start Date</span><span>{{contract.startdate}} {{contract.starttime}}</span></li>
                <!-- <li><span>Transferable</span><span><img src="assets/img/cross.png"/></span></li> -->
                <li><span>Transferable</span><span>{{contract.transferable}}</span></li>
                <li><span>Whitelist</span><span>{{contract.whitelist}}</span></li>
                <li><span>Minimum Investment Limitation</span><span>{{contract.minlimit}}</span></li>
              </ul>
              <h3 class="blue-head">Time Bonus</h3>
              <ul class="bordered-detail-text">
                <li><span>Bonus</span><span>{{contract.bonus1}}</span></li>
                <li><span>Depends on Amount of Sold Tokens</span><span>{{contract.bonus2}}</span></li>
                <li><span>Date from</span><span>{{contract.bonus3}}  {{contract.bonus4}}</span></li>
              </ul>
              </div>
            </div>   
        </div>
        <div class="col-sm-6">
          <div class="bg-white form-group-margin"  style="display:table;">
            <div class=" pb-45 pt-45 pl-28 pr-28">
              
              <ul class="bordered-detail-text">
                <li><span>Token Symbol</span><span>{{contract.tokensymbol}}</span></li>
                <li><span>Decimals</span><span>{{contract.decimals}}</span></li>
                <li><span>Soft Cap Tokens</span><span>{{contract.softcaptokens}}</span></li>
                <li><span>End Date</span><span>{{contract.startdate}} {{contract.starttime}}</span></li>
                <li><span>Changing Dates</span><span>{{contract.changingdates}}</span></li>
                <li><span>Maximum Investment Limitation</span><span>{{contract.maxlimit}}</span></li>
              </ul>
              <h3 class="blue-head" style="margin-top:128px;">Time Bonus</h3>
              <ul class="bordered-detail-text">
                <li><span>Bonus</span><span>{{contract.bonus5}}</span></li>
                <li><span>{{contract.bonus6}}</span><span></span></li>
                <li><span>Date from</span><span>{{contract.bonus7}} {{contract.bonus8}}</span></li>
              </ul>
              
            </div>   
          </div>
        </div>
      </div>

      <div class="bg-white form-group-margin" style="margin-top:30px; margin-bottom:30px;">
        <div class=" pb-45 pt-45 pl-28 pr-28">
          <div class="graph-section">
            <img src="assets/img/graph-1.png" alt="" title="" class="img-responsive w-100"/>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="bg-white form-group-margin" style="display:table; width:100%;">
            <div class=" pb-45 pt-45 pl-28 pr-28">
              <h3 class="blue-head">Add Amount Bonus</h3>
              <ul class="bordered-detail-text" style="display:table; margin-bottom:0px;">
                <li><span>Bonus</span><span>{{contract.amountbonus1}}</span></li>
                <li><span>Min Amount</span><span>{{contract.amountbonus2}}</span></li>
                <li><span>Max Amount</span><span>{{contract.amountbonus3}}</span></li>
              </ul>
              </div>
            </div>   
        </div>
        <div class="col-sm-6">
          <div class="bg-white form-group-margin"  style="display:table;">
            <div class=" pb-45 pt-45 pl-28 pr-28">
              <div class="graph-section">
                <img src="assets/img/graph-1.png" alt="" title="" class="img-responsive w-100">
              </div>
            </div>   
          </div>
        </div>
      </div>
      <div class="row justify-content" style="margin-top:30px;">
        <div class="col-sm-6">
          <div class="bg-white form-group-margin row-eq-height">
            <div class=" pb-45 pt-45 pl-28 pr-28">
              <div class="owner">
                <label>{{contract.tokenowner}}</label>
                <input type="text" class="form-control custom-input-text" placeholder="0x2a0b836csa866b781755ebc7Eb0aF71e751eD4d4">
                <label>{{contract.invstad}}</label>
                <input type="text" class="form-control custom-input-text" placeholder="0x2a0b836csa866b781755ebc7Eb0aF71e751eD4d4">
                <p>Total Supply <span>5,055,555 Test</span></p>
              </div>
            </div>
          </div>   
        </div>

        <div class="col-sm-6">
          <div class="bg-white form-group-margin row-eq-height"  style="display:table; width:100%;">
            <div class=" pb-45 pt-45 pl-28 pr-28">
              
            <div class="graph-section">
              <img src="assets/img/pie-chart.png" alt="" title="" class="img-responsive w-100">
            </div>
              
            </div>   
          </div>
        </div>

      </div>


      <div class="row justify-content" style="margin-top:30px;">

        <div class="col-sm-12">
          <div class="bg-white form-group-margin row-eq-height"  style="display:table; width:100%;">
            <div class=" pb-45 pt-45 pl-28 pr-28">
              
            <div class="row">
              <div class="col-sm-6">
                <div class="promo-code">
                  <input type="text" class="form-control custom-input-text" placeholder="Add Promocode"/>
                  <button>Check</button>
                </div>
              </div>
              <div class="col-sm-6"><button class="launch-btn">Launch</button></div>
            </div>
              
            </div>   
          </div>
        </div>
      </div>
    </div>
</main>