<main class="main-content">
    <!--page title start-->
    <div class="page-title">
       <div class="container-fluid p-0">
          <div class="row">
             <div class="col-md-12">
                 <div class="row">
                     <div class="col-md-6">
                         
                         <h4 class="mb-0">Buy Tokens</h4> 
                     </div>
                     <div class="col-md-6">
                         <ul class="currency-tab">
                            <li><a href="#"><span><img src="assets/img/eth.png"/></span>ETH</a></li>
                            <li><a href="#"><span><img src="assets/img/luk.png"/></span>LUK</a></li>
                            <li><a href="#"><span><img src="assets/img/btc.png"/></span>BTC</a></li>
                          </ul>
                      </div>
                  </div>
             </div>
          </div>
       </div>
    </div>
    <!--page title end-->
    <div class="container-fluid buy-tokens">
       <div class="bg-white form-group-margin">
       <div class=" pb-45 pt-45 pl-28 pr-28">
          <div class="row">
            <div class="col-sm-6 mx-auto">    
              <div class="row send-to">
                <div class="col-sm-6">
                  <div class="from">
                    <label>send</label>
                    <input type="text" class="form-control custom-input-text" placeholder="ETH"/>
                  </div>
                </div>
                
                <div class="col-sm-6">
                  <div class="from">
                    <label>To</label>
                    <input type="text" class="form-control custom-input-text" placeholder="LUK"/>
                  </div>
                </div>
              </div>
              <div class="row send">
                <div class="col-sm-12">
                  <div class="from">
                    <label>Send your ETH to</label>
                    <div class="copy-input">
                      <input type="text" class="form-control custom-input-text" placeholder="0Xe2b279354cd62c55484ac301d45cgEA2841d4d85"/>
                      <button>Copy</button>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="row links">
                <div class="col-sm-4"><a href="#">Gas Price 30 GWEI</a></div>
                <div class="col-sm-4 center"><a href="#">Gas Limit 100.000</a></div>
                <div class="col-sm-4 right"><a href="#">How to do it ?</a></div>
              </div>
              
              <div class="row or">
                <p>or</p>
              </div>
              
              <div class="row button-opt">
                <div class="col-sm-4"><a href="#"><img src="assets/img/ether-wallet.png"/></a></div>
                <div class="col-sm-4"><a href="#"><img src="assets/img/parity-btn.png"/></a></div>
                <div class="col-sm-4"><a href="#"><img src="assets/img/metamask-btn.png"/></a></div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>