<main class="main-content">
    <div class="page-title">
        <div class="container-fluid p-0">
            <div class="row">
                <div class="col-md-4">
                    <h4 class="mb-0">Create Contract</h4>
                </div>
                <div class="col-md-8">
                    <ul class="cat-tabs">
                      <li><a href="#" class="active"><img src="assets/img/eth.png"/><span>Ethereum</span></a></li>
                      <li><a href="#"><img src="assets/img/eos.png"/><span>EOS</span></a></li>
                      <li><a href="#"><img src="assets/img/btc.png"/><span>Bitcoins</span></a></li>
                      <li><a href="#"><img src="assets/img/neo.png"/><span>NEO</span></a></li>
                    </ul>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
      <div class="row ">
          <div class="col-xl-4 col-sm-6">
              <div class="card mb-4">
                  <div class="card-body main-box-1">
                      <div class="img-body"><img src="assets/img/crowdsale-contract.png"/></div>
                      <h6 class="card-title mb-0">Crowdsale Contract</h6>
                      <p class="card-text">Start Your ICO/Token Sale with a few clicks</p>
                  </div>
              </div>
          </div>
          <div class="col-xl-4 col-sm-6">
              <div class="card mb-4">
                  <div class="card-body main-box-2">
                      <div class="img-body"><img src="assets/img/token-contract.png"/></div>
                      <h6 class="card-title mb-0">Token Contract</h6>
                      <p class="card-text">Create a Token and distribute it yourself or by our Crowdslale Contract</p>
                  </div>
              </div>
          </div>
          <div class="col-xl-4 col-sm-6">
              <div class="card mb-4">
                  <div class="card-body main-box-3">
                        <div class="img-body"><img src="assets/img/payment.png"/></div>
                        <h6 class="card-title mb-0">Deferred Payment</h6>
                        <p class="card-text">Create a Token and distribute it yourself or by our Crowdslale Contract</p>
                  </div>
              </div>
          </div>
          <div class="col-xl-4 col-sm-6">
              <div class="card mb-4">
                  <div class="card-body main-box-4">
                    <div class="img-body"><img src="assets/img/air-drop.png"/></div>
                      <h6 class="card-title mb-0">Air Drop</h6>
                      <p class="card-text">Distribute any ERC-20/ERC-223 tokens among many addresses </p>
                  </div>
              </div>
          </div>
          <div class="col-xl-4 col-sm-6">
              <div class="card mb-4">
                  <div class="card-body main-box-5">
                  <div class="img-body"><img src="assets/img/investment.png"/></div>
                      <h6 class="card-title mb-0">Investment Pool</h6>
                      <p class="card-text">The Contract for ETH Accumulation before the investment Create it and share.</p>
                  </div>
              </div>
          </div>
          <div class="col-xl-4 col-sm-6">
              <div class="card mb-4">
                  <div class="card-body main-box-6">
                  <div class="img-body"><img src="assets/img/key-contract.png"/></div>
                      <h6 class="card-title mb-0">Lost Key Contract</h6>
                      <p class="card-text">Create a Token and distribute it yourself or by our Crowdsale Contract</p>
                  </div>
              </div>
          </div>  
      </div>
  </div>
</main>