<div class="left-sidebar">
    <nav class="sidebar-menu">
        <ul id="nav-accordion">
            <li class="sub-menu">
                <a routerLink="/home/profile">
                    <img src="assets/img/list-contract.png"/>
                    <span>Profile</span>
                </a>
            </li>
            <li class="sub-menu">
                <a routerLink="/home/contract-list">
                    <img src="assets/img/list-contract.png"/>
                    <span>List of Contracts</span>
                </a>
            </li>
            <li class="sub-menu">
                <a routerLink="/home/crowd-sale">
                    <img src="assets/img/list-contract.png"/>
                    <span>Crowd Sale Contract</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="/home/buy-tokens">
                    <img src="assets/img/buy-tokens.png"/>
                    <span>Buy Tokens</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="/home/help">
                    <img src="assets/img/support.png"/>
                    <span>Support</span>
                </a>
            </li>

        </ul>
    </nav>
</div>
