<main class="main-content">
    <!--page title start-->
    <div class="page-title">
       <div class="container-fluid p-0">
          <div class="row">
             <div class="col-md-12">
                 <div class="row">
                     <div class="col-md-6 col-9">
                         
                         <h4 class="mb-0">Profile</h4> 
                     </div>
                     <div class="col-md-6 col-3">
                          <div class="dropdown float-right">
                          <button type="button" class="btn btn-default custom-dropdown dropdown-toggle" data-toggle="dropdown">
                           <i class="fa fa-ellipsis-h pull-right color-blue"></i>
                          </button>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Link 1</a>
                            <a class="dropdown-item" href="#">Link 2</a>
                            <a class="dropdown-item" href="#">Link 3</a>
                          </div>
                        </div>
                    </div>
                 </div>
             </div>
          </div>
       </div>
    </div>
    <!--page title end-->
    <div class="container-fluid profile">
      <div class="bg-white form-group-margin">
        <div class=" pb-45 pt-45 pl-28 pr-28">
          <div class="row top-sec">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6"><p>Two Factor Authentication<br/><span>We strongly Recommend you to enable 2FA  </span></p></div>
                <div class="col-sm-6">
                  <div class="can-toggle can-toggle--size-large  float-right w-100 text-right">
                    <input id="c11" type="checkbox">
                    <label for="c11">
                    <div class="can-toggle__switch" data-checked="Enable" data-unchecked="Disable"></div>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="row form">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6"><p>Current Password</p></div>
                <div class="col-sm-6"><input type="text" class="form-control custom-input-text" placeholder="**********"/></div>
              </div>
              <div class="row">
                <div class="col-sm-6"><p>New Password</p></div>
                <div class="col-sm-6"><input type="text" class="form-control custom-input-text" placeholder="New Password"/></div>
              </div>
              <div class="row">
                <div class="col-sm-6"><p>Repeat Password</p></div>
                <div class="col-sm-6"><input type="text" class="form-control custom-input-text" placeholder="Repeat Password"/></div>
              </div>
              <div class="row">
                <ul class="buttons">
                  <li class="cancel"><a href="#">Cancel</a></li>
                  <li class="update"><a href="#">Update</a></li>
                </ul>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
</main>